$color__aside: #5b605f; // panel boczny, nawigacja 
$color__header: #4a4a49; //  - nagłówek, , kolor tekstu w kolumnac/h
$color__button: #FF6600; //- przyciski, wyróżnienia, nagłówki ekranów
$color__background: #FFFFFA; //kolor tła ekranów
$color__message--info: #3498DB; //kolor wiadomości typu info,
$color__massage--warning:#FFB03B; // kolor wiadomości typu warning
$color__message--success:#468966; //kolor wiadomości typu success 
$color__icon:#BD4932; //kolor ikony kosza
$color__rowicon:#A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji